
.linkClass{
    margin-left: 10px;
    height:28px;
    text-align:center;
}

.linkContainer {
    width:90px;
    background: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters{
    display:flex;
    border:1px solid gray;
    width:300px;
    height:35px;
    justify-content: space-around;
    align-items: center;
}


