.addTodo{
    margin-top:10px;
    margin-left:10px;
}

.btnAdd {
    margin-left: 5px;
    height: 21px;
    width:56px;
}

.itemClass {
    display:flex;
    list-style-type:none;
    width:200px;
    height:35px;
    background: azure;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.itemBtnRemove {
    margin-left: 10px;
    width: 45px;
    margin-right: 0%;
}

.checkboxClass{
    display: none;
    cursor: pointer;
}